.card {
    opacity: 0;
    transform: translateY(50px);
    animation: entradaCard 1s ease forwards;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

@keyframes entradaCard {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}