body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    gap: 1px;
}

.grid-container div:first-child{
    grid-column: 1/4;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #6c63ff;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}