.tarjetas {
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    padding: 20px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 200px; 
    border: 1px solid #ccc;
}

.tarjeta-titulo {
    height: 40px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}

.tarjeta-cuerpo {
    flex: 1; 
    padding: 10px;
    text-align: justify;
    background-color: white;
}

.tarjeta-pie {
    height: 30px;
    background-color: rgb(134, 133, 133);
    text-align: center;
}